@use "modules" as *

html,
body
	margin: 0
	padding: 0
	width: 100%

	font-family: Montserrat
	scroll-behavior: smooth
	scroll-margin: 10em

section
	width: 100%
	height: 100vh
	max-height: 100vh
	background: linear-gradient($bgColor, $bgColor)
	color: $white
	background-position: center
	background-size: cover

h1
	color: $white
	font-size: 2.5em
	max-width: 80vw
	margin-left: auto
	margin-right: auto


.cover
	text-align: center
	
	display: flex
	align-items: center
	justify-content: space-evenly

	+mobileFlexRev

	&:nth-of-type(odd)
		flex-direction: row-reverse
	&:nth-of-type(even)
		flex-direction: row

	
#hero
	background-attachment: fixed

.logo
	width: 40vw
	max-width: 40vw
	max-height: 40%
	object-fit: contain

	@media (max-width: 1000px)
		width: 80vw
		max-width: 80vw
		// max-height: 40%


a.btn
	text-decoration: none
	font-weight: bold
	padding: 0.5em 1em
	border-radius: 0.5em
	display: inline-block
	+hover

.content
	text-align: center

	display: flex
	flex-direction: column
	align-items: space-evenly
	
	h1
		margin-top: 10vh
		@media (max-width: 1000px)
			margin-top: 5vh
			margin-bottom: 0

#aboutUs
	@media (max-width: 1000px)
		height: 200%

marquee
	font-size: 2em

img, video, iframe
	min-width: 50px
	max-width: 50px
	opacity: 0
	transition: opacity 2s ease

.loaded
	opacity: 1

#sponsors
	flex-direction: column
	align-items: center
	justify-content: center

.red
	color: $red