doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		
		link(rel='stylesheet' href='css/main.css')
		//- link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
		title Al Fursan
	body
		include components/_nav.jade
		block content
		include components/_contact.jade
		//- include components/_comingSoon.jade
		script.
			window.addEventListener("load", function(){
				loadScript("lazyLoad");
				loadScript("nav");
				loadScript("gallery");
			});

			function loadScript(name){
				const script = document.createElement("script");
				script.src = 'js/' + name + '.js';
				document.body.appendChild(script);
			}