doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/main.css')
    
    //- link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    title Al Fursan
  body
    section#hero.cover
      div
        h1 This. is. Al Fursan.
        a.btn(href="#aboutUs") Learn More
      video.logo(src="assets/AlFursanLogoAnimationCompressed.mp4", autoplay, muted, controls=false, disabled)
    section#aboutUs.content
      h1.red About Us
      .banners
        div
          img(src="assets/icon/team.png")
          p <b>Al Fursan</b> is our team of aspiring engineers
        div
          img(src="assets/logo/sae.svg")
          p Part of the <b>Society of Automotive Engineers</b> ecosystem
        div
          img(src="assets/icon/topRated.png")
          p Participated in various <b>Formula SAE</b> competitions
    section#Aprilia.cover
      div
        h1 Engine Sponsor
        a.btn(href="#") Learn More
      img.logo(src="assets/logo/ApriliaSocietyMotorsSquareTransparent.png")
    section#TitanPerformance.cover
      div
        h1 Technical Sponsor
        a.btn(href="#") Learn More
      img.logo(src="assets/logo/TitanPerformanceLogo.png")
    
    
    //- section.content
      h1.red About BITS
      .banners
        div
          img 
          p Ranked as the #1 private engineering university in India
        div 
          img 
          p Among the Top-5 universities in Dubai.
    
    section#AlFursan.cover
      marquee
        p The page is currently under construction
    script(src='js/main.js')