doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/main.css')
    title MotorsportsBPDC
  body
    section#hero.cover
      //- h1 This is <br /> MotorsportsBPDC.
      img.logo(src="img/AlFursanLogoBlackTransparent.png")
      a.btn(href="#aboutUs") Learn More
    section#aboutUs.content
      h1 About Us
      p esnetnsneesetn
    section#Aprilia.cover
      img.logo(src="img/ApriliaSocietyMotorsSquareTransparent.png")
      h1 Engine Sponsor
    section#TitanPerformance.cover
      img.logo(src="img/TitanPerformanceLogo.png")
      h1 Technical Sponsor
    section#AlFursan.cover
      //- img.logo(src="img/AlFursanLogoBlack.png")
      marquee
        p The page is currently under construction
    script(src='js/main.js')