extends layout.jade

block content
  section(bg="hero.jpg")#hero.cover
    div
      h1 This. Is. Al Fursan.
      a.alFursanBtn.btn(href="#aboutUs") Learn More
    //- video.logo(data="vid/AlFursanLogoAnimationCompressed.mp4", autoplay, muted, disabled)
    img#alFursanLogo.logo(data="logo/AlFursanLogoBlackTransparent.png")
  
  section(bg="group.jpg")#aboutUs.content
    h1.red Who are we?
    .banners
      div
        img(data="icon/team.png")
        p <b>Al Fursan</b> is our team of aspiring engineers
      div
        img(data="logo/sae.svg")
        p Part of <b>Society of Automotive Engineers</b> ecosystem
      div
        img(data="icon/topRated.png")
        p Participated in various <b>Formula SAE</b> competitions
  section(bg="weldingTitan.jpg")#sponsors.cover
    h1 Our Sponsors
    a.sponsorsBtn.btn(href="sponsors.html") Learn More
  
  //- section.content
    h1.red About BITS
    .banners
      div
        img 
        p Ranked as the #1 private engineering university in India
      div
        img 
        p Among the Top-5 universities in Dubai.
  
  section(bg="bitsCampus.jpg")#AlFursan.cover
    marquee
      p The page is currently under construction