extends _layout.jade

block content
	section#hero.cover( style="background-image: linear-gradient(rgba(0, 0%, 0%, 0.75), hsla(0, 0%, 0%, 0.75)) , url('assets/bg/hero.jpg') ")
		div
			h1 This is<br/>Al Fursan.
			a.alFursanBtn.btn(href="#aboutUs") Learn More
		//- video.logo(data="vid/AlFursanLogoAnimationCompressed.mp4", autoplay, muted, disabled)
		img#alFursanLogo.logo(data="logo/AlFursanLogoBlackTransparent.png")
	section(bg="group.jpg")#aboutUs.content
		h1.red Who are we?
		.banners
			div
				img(data="icon/team.png")
				p <b>Al Fursan</b> is our team of aspiring engineers
			div
				img(data="logo/sae.svg")
				p Part of <b>Society of Automotive Engineers</b> ecosystem
			div
				img(data="icon/topRated.png")
				p Participated in various <b>Formula SAE</b> competitions
	//- section(bg="working.jpg" style="background-position: top")#goals.content
		h1.red Our Goals
		p Our brand new team, with members from various fields are working toward the following goals:
	section(bg="weldingTitan.jpg")#TitanPerformance.cover
		div
			h1 Technical Sponsor
			a.titanBtn.btn(href="#") Learn More
		img.logo(data="logo/titanTransparentWhite.svg")
	section(bg="apriliaBike.jpg")#Aprilia.cover
		div
			h1 Engine Sponsor
			a.apriliaBtn.btn(href="https://www.aprilia.com") Website
		img.logo(data="logo/ApriliaSocietyMotorsSquareTransparent.png")
	
	section(bg="bitsCampus.jpg")#AlFursan.cover
		marquee
			p The page is currently under construction