extends layout.jade

block content
	section(bg="titanParking.jpg")#TitanPerformance.cover
		div
			h1 Technical Sponsor
			a.titanBtn.btn(href="#") Website
		img.logo(data="logo/titanTransparentWhite.svg")
	section(bg="apriliaBike.jpg")#Aprilia.cover
		div
			h1 Engine Sponsor
			a.apriliaBtn.btn(href="https://www.aprilia.com") Website
		img.logo(data="logo/ApriliaSocietyMotorsSquareTransparent.png")