@use "sass:color"

$bgColor: hsla(0, 0%, 0%, 0.75)
$contentBgColor: hsla(0, 0%, 0%, 0.75)

$white: hsla(0, 0%, 95%, 0.90)
$whiteBg: hsla(0, 30%, 85%)

$red: hsl(0, 70%, 50%)
$redt: color.scale($red, $alpha: -65%)
$redd: color.scale($red, $lightness: -30%)

$purple: hsl(260, 70%, 50%)
$purplet: color.scale($purple, $alpha: -40%)

$black: hsl(0, 0%, 5%)
$blackt: color.scale($black, $alpha: -25%)

$yellow: hsl(50, 100%, 50%)
$yellowt: color.scale($yellow, $alpha: -20%)

$blue: hsl(245, 65%, 35%)
$bluet: color.scale($blue, $alpha: -20%)