@use "colors" as *
@use "mixins" as *

#contact
	// position: fixed
	// bottom: 0
	background: $blackl
	min-height: initial
	.icons, .uni
		width: 100%
		margin: auto
		min-height: 5em
		display: flex
		justify-content: center
		align-items: center
	a
		+imgHover
		filter: saturate(0) invert(0.8)
		&:hover
			filter: saturate(0) invert(1) sepia(1) hue-rotate(182deg) brightness(30%) saturate(300)
	img
		margin: 1em 2em		
		height: 2em
		max-width: 100px