@use "colors" as *

#tiers
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start
	background: $bgWhite
	@media screen and (max-width: 1000px)
		display: none
	h1
		color: $red
	table
		text-align: center
		// font-size: 0.7em
		color: $black
		background: $bgWhite
		border-spacing: 0
		border-collapse: collapse
	thead
		color: $white
		background: $red
		font-weight: bold
	th, td
		height: 2em
		// padding: 0.5em 1em
		margin: 0
		border: 3px solid $black