section#contact
	.icons
		a(href="tel:+971557953050", target="_blank")
			img(data="icon/phone.svg")
		a(href="mailto:bitsdubaimotorsports@dubai.bits-pilani.ac.in", target="_blank")
			img(data="icon/mail.svg")
		a(href="https://www.instagram.com/bitsdubai_motorsport/", target="_blank")
			img(data="icon/instagram.svg")
		//- a(href="https://www.tiktok.com/@bms_dubai", target="_blank")
			img(data="icon/tiktok.svg")
	//- .uni
		img(data="logo/bitsLogo.svg")
		img(data="logo/bms.png")