section#contact
	.container
		h1 Contact Us
		table
			tbody
				tr
					td <b>Shobal</b> Phillip Roy
					td +971 55 795 3050
				tr
					td <b>Abhilash</b> Sadanandan
					td +971 54 565 6107
				tr
					td <b>Adhav</b> Kumaravel
					td +971 50 514 2542
				tr
					td <b>Dr. Priyank</b> Upadhyaya
					td +971 56 212 2713
		.icons
			a(href="https://www.instagram.com/bitsdubai_motorsport/")
				img#igLogo(data="icon/instagram.png")
			a(href="mailto:bitsdubaimotorsports@dubai.bits-pilani.ac.in")
				img#mailLogo(data="icon/email.png")
