section#contact
	.container.content
		h1 Contact Us
		.icons
			a(href="tel:+971557953050", target="_blank")
				img(data="icon/phone.svg")
			a(href="tel:bitsdubaimotorsports@dubai.bits-pilani.ac.in", target="_blank")
				img(data="icon/gmail.svg")
			a(href="https://www.instagram.com/bitsdubai_motorsport/", target="_blank")
				img(data="icon/instagram.svg")
			a(href="https://www.tiktok.com/@bms_dubai", target="_blank")
				img(data="icon/tiktok.svg")