section#contact
	.container.content
		h1 Contact Us
		.banners
			div
				img(data="icon/team.png")
				p <b>Shobal</b> Phillip Roy
				p +971 55 795 3050
			div
				img(data="logo/sae.svg")
				p <b>Abhilash</b> Sadanandan
				p +971 54 565 6107
			div
				img(data="icon/topRated.png")
				p <b>Adhav</b> Kumaravel
				p +971 50 514 2542
			div
				img(data="icon/topRated.png")
				p <b>Dr. Priyank</b> Upadhyaya
				p +971 56 212 2713
		.icons
			a(href="https://www.instagram.com/bitsdubai_motorsport/", target="_blank")
				img#igLogo(data="icon/instagram.png")
			a(href="mailto:bitsdubaimotorsports@dubai.bits-pilani.ac.in", target="_blank")
				img#mailLogo(data="icon/email.png")
