nav.navbar
	.logo AL FURSAN
	a#togglebtn.toggle-button(href='#')
		span.bar
		span.bar
		span.bar
	#nlink.navbar-links
		ul
			li
				a(href='#') About
			li
				a(href='#') Sponsor Us
			li
				a(href='#') Gallery
			li
				a(href='#') Contact


//- Thahir

//- nav#nav
//- 	.links
//- 		a.active(href='index.html#hero')
//- 			img(data="logo/AlFursanLogoBlackTransparent.png")
//- 		.right
//- 			a(href='index.html#aboutUs') About
//- 			a(href='index.html#tiers') Sponsor Us
//- 			a(href='#contact') Contact
//- 			a.icon(href='javascript:void(0);' onclick='mobileNav()')
//- 				i &equiv;