nav#nav
	.links
		a.active(href='#hero')
			img(data="logo/AlFursanLogoBlackTransparent.png")
		.right
			a(href='#aboutUs') About
			a(href='#TitanPerformance') Sponsor Us
			a(href='#contact') Contact
			a.icon(href='javascript:void(0);' onclick='mobileNav()')
				i &equiv;