nav.navbar
	.navContainer
		a.logo(href='index.html#hero')
			img(data="logo/AlFursanLogoBlackTransparent.png")
		a#togglebtn.toggle-button(href='javascript:void(0);')
			span.bar
			span.bar
			span.bar
		#nlink.navbar-links
			ul
				//- li
				//- 	a(href='index.html#aboutUs') About
				li
					a(href='index.html#bits') Our Sponsors
				li
					a(href='index.html#tiers') Sponsor Us
				//- li
					a(href='#') Gallery
				li
					a(href='index.html#contact') Contact


//- Thahir

//- nav#nav
//- 	.links
//- 		a.active(href='index.html#hero')
//- 			img(data="logo/AlFursanLogoBlackTransparent.png")
//- 		.right
//- 			a(href='index.html#aboutUs') About
//- 			a(href='index.html#tiers') Sponsor Us
//- 			a(href='index.html#contact') Contact
//- 			a.icon(href='javascript:void(0);' onclick='mobileNav()')
//- 				i &equiv;