section#tiers
	h1 Sponsorship Tiers
	table
		thead
			th Tier
			th Title
			th Diamond
			th Gold
			th Silver
		tbody
			tr
				td Sponsorship Amount <br/> (AED)
				td > 40,000
				td 25,000 - 40,000
				td 10,000 - 25,000
				td 5,000 - 10,000
			tr
				td Dedicated Social Media Posts
				td ✅
				td ✅
				td ✅
				td ✅
			tr
				td Publicity at University Fests
				td ✅
				td ✅
				td ✅
				td ✅
			tr
				td Publicity at Team Events
				td ✅
				td ✅
				td ✅
				td ✅
			tr
				td Logo on apparel
				td ✅
				td ✅
				td ✅
				td ✅
			tr
				td Logo and mentions on website
				td ✅
				td ✅
				td ✅
				td ✅
			tr
				td Publicity at exhibitions, conferences
				td ✅
				td ✅
				td ✅
				td
			tr
				td Logo Space on helmet
				td ✅
				td ✅
				td
				td
			tr
				td Car available for company display
				td ✅
				td
				td
				td
			tr
				td Car Color representing company
				td ✅
				td
				td
				td
			tr
				td Logo Size on car
				td XL
				td L
				td M
				td S
			tr
				td Logo Location on car
				td Both Sides &<br/>Rear Wing
				td Both Sides
				td Both Sides
				td Both Sides