extends _layout.jade

block content
	section#hero.cover(
			style = 'background-image: linear-gradient( hsla(0, 0%, 0%, 0.75) 0%, hsla(0, 0%, 0%, 0.75) 85%, black 100% ) , url("../assets/bg/hero.jpg")'
		)
		div
			h1 This is<br/>Al Fursan.
			a.alFursanBtn.btn(href="#aboutUs") Learn More
		img#heroImg.eager.logo(src="../assets/logo/AlFursanLogoBlackTransparent.png")
	section(bg="group.jpg")#aboutUs.content
		h1.red Who are we?
		.banners
			div
				img(data="icon/team.png")
				p <b>Al Fursan</b> is our team of aspiring engineers
			div
				img(data="logo/sae.svg")
				p Part of <b>Society of Automotive Engineers</b> ecosystem
			div
				img(data="icon/topRated.png")
				p Participated in various <b>Formula Student</b> competitions
	//- section(bg="working.jpg" style="background-position: top")#goals.content
		h1.red Our Goals
		p Our brand new team, with members from various fields are working toward the following goals:
	section(bg="bitsCampus.jpg")#bits.cover
		div
			h1 Diamond Sponsor
			a.bitsBtn.btn(href="https://www.bits-pilani.ac.in/Dubai/", target="_blank") Learn More
		img.logo(data="logo/bitsLogo.svg")
	section(bg="society_motors.jpg")#Aprilia.cover
		div
			h1 Diamond Sponsor
			a.apriliaBtn.btn(href="https://www.societymotors.ae/en", target="_blank") Website
		img.logo(data="logo/SocietyMotors.png")
	section(bg="sponsorship.jpg").cover
		div
			h1 Sponsorship Tiers
			a.alFursanBtn.btn(href="sponsor_us.html", target="_blank") Learn More
		.tiers
			.title Title
			.diamond Diamond
			.gold Gold
			.silver Silver
			