extends _layout.jade

block content
	.gallery
		.header
			h1 Our Sponsors
		.sponsors.grid
			img(data='logo/bitsLogo.svg')
			//- img(data='logo/ApriliaSocietyMotorsSquareTransparent.png')
			img(data='logo/SocietyMotors.png')
			img(data='logo/al_shirawi.png', style = "background: white; padding: 1em")
			img(data='logo/titan_white.svg')
			//- img(data='logo/desco_light.png')
			img(data='logo/paragon.jpg')
			img(data='logo/af1_racing.png')