doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/main.css')
    title MotorsportsBPDC
  body
    section#hero.cover
      h1 This is <br /> MotorsportsBPDC.
      a(href="#AlFursan") Learn More
    section#AlFursan.cover
      img.logo(src="img/AlFursanLogoBlack.png")
      h1 The Team
    section#Aprilia.cover
      img.logo(src="img/ApriliaLogo.png")
      h1 Engine Sponsor
    section#TitanPerformance.cover
      img.logo(src="img/TitanPerformanceLogo.png")
      h1 Technical Sponsor
    section#links.content
      h1 Links
      ul
        li 
          a(href="https://www.instagram.com/bitsdubai_motorsport") Instagram
        li 
          a(href="https://ahmedthahir.github.io/MotorsportBPDC/Export") Daily Log



    script(src='js/main.js')